<a href="https://colab.research.google.com/github/Saamiyah26/Property-Price-Prediction/blob/main/data_merging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
flats=pd.read_csv('/content/drive/MyDrive/Property Price Prediction/flats_cleaned.csv')

In [6]:
houses=pd.read_csv('/content/drive/MyDrive/Property Price Prediction/house_cleaned.csv')

In [8]:
df=pd.concat([flats,houses],ignore_index=True)

In [10]:
df.sample(10)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedroom,bathroom,balcony,...,address,floornum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,no_of_floor
2065,2 BHK Flat in Sector-33 Sohna,flat,godrej nature plus,1.20,14379.0,835.0,Carpet area: 77.53,2,2,3,...,"Sector-33 Sohna, Gurgaon, Haryana",1.0,NaN,Within 3 months,"['Signature Global Infinity Mall Sohna', 'Bads...",2 bhk with private deck. Possession by july 2023,NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...",NaN,NaN
2508,3 BHK Flat in Chakkarpur,flat,essel tower,2.20,12500.0,1760.0,Carpet area: 1760 (163.51 sq.m.),3,4,3+,...,"Chakkarpur, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Dlf phase 1 metro station', 'Sikandarpur met...",It has a garden view and temple in the vicinity,"['1 Water Purifier', '5 Fan', '1 Fridge', '1 E...",NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5...",NaN
3473,4 Bedroom House for sale in Sohna Gurgaon Road,house,independent,2.00,"₹ 7,479/sq.ft.",(248 sq.m.) Built-up Area,Built Up area: 2674 (248.42 sq.m.),4,3,0,...,"Sohna Gurgaon Road, Sohna Gurgaon Road, Gurgao...",NaN,North,undefined,NaN,4bhk villa for resale in sohna gurgaon road so...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,NaN,1.0
2517,3 BHK Flat in Sector 65 Gurgaon,flat,m3m skycity,3.50,17039.0,2054.0,Carpet area: 2054 (190.82 sq.m.),3,3,3,...,"Sector 65 Gurgaon, Gurgaon, Haryana",15.0,East,Within 3 months,"['Sector 55 Metro Station', 'Eros City Square'...",This lovely 3 bhk apartment/flat in sector 65 ...,"['6 Fan', '1 Exhaust Fan', '3 Geyser', '1 Stov...","['Centrally Air Conditioned', 'Water purifier'...","['Environment4 out of 5', 'Lifestyle4 out of 5...",NaN
34,2 BHK Flat in Sector 90 Gurgaon,flat,shree vardhman flora,0.75,5769.0,1300.0,Carpet area: 1300 (120.77 sq.m.),2,2,3,...,"Sector 90, Sector 90 Gurgaon, Gurgaon, Haryana",8.0,North-East,undefined,"['IRIS Broadway Mall', 'Dwarka Expressway', 'S...",Best in class property available at sector 90 ...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Green Area5 out of 5', 'Amenities5 out of 5'...",NaN
2918,3 BHK Flat in Sector 80 Gurgaon,flat,godrej frontier,1.60,7000.0,2286.0,Super Built up area 2262(210.15 sq.m.),3,3,3,...,"Sector 80 Gurgaon, Gurgaon, Haryana",5.0,NaN,5 to 10 Year Old,"['Pooja Clinic', 'Dr. Sahil Clinic', 'Prakash ...","This 3 bhk flat in sector-80 gurgaon, gurgaon ...",[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Management3 out of 5', 'Green Area4 out of 5...",NaN
435,3 BHK Flat in Sector 82 Gurgaon,flat,mapsko royale ville,0.99,5530.0,1790.0,Super Built up area 1790(166.3 sq.m.),3,4,2,...,"Sector 82, Sector 82 Gurgaon, Gurgaon, Haryana",14.0,South-West,0 to 1 Year Old,"['Sapphire 83 Mall', 'Golf Course Ext Rd', ""St...",Immediate visit possible. Call 99999-82787 for...,NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area4.5 out of 5', 'Construction3 out ...",NaN
1197,5 BHK Flat in Sector 62 Gurgaon,flat,pioneer araya,10.75,19500.0,5513.0,Super Built up area 5514(512.27 sq.m.),5,7,3,...,"1302, Sector 62 Gurgaon, Gurgaon, Haryana",10.0,North-East,1 to 5 Year Old,"['Paras Trinity Shopping Mall', 'Golf Course E...","3, 4 and 5 bhk residential apartments & pentho...","['4 Fan', '15 Light', '6 AC', '1 Modular Kitch...","['Security / Fire Alarm', 'Private Garden / Te...","['Green Area5 out of 5', 'Construction4 out of...",NaN
3551,3 Bedroom House for sale in New Colony,house,independent,6.50,"₹ 15,046/sq.ft.",(401 sq.m.) Plot Area,Plot area 480(401.34 sq.m.),3,2,3+,...,"New Colony, Gurgaon, Haryana",NaN,NaN,10+ Year Old,"['Geeta Nursing Home Gurgaon', 'Chiranjiv Hosp...",Old construction house in new colony gurgaon.,[],['Private Garden / Terrace'],"['Environment4 out of 5', 'Lifestyle4 out of 5...",NaN
1309,3 BHK Flat in Sector 95 Gurgaon,flat,rof ananda,0.38,58.0,65517.0,Carpet area: 64412 (5984.07 sq.m.),3,2,1,...,"Sector 95 Gurgaon, Gurgaon, Haryana",12.0,North,1 to 5 Year Old,"['Metro', 'Dwarka Expressway', 'Rajeev Chowk',...","Ambitious, personable agent with 15 years of e...",NaN,"['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Environment4 out of 5', 'Lifestyle4.5 out of...",NaN

In [12]:
df.to_csv('cleaned_data.csv',index=False)